@font-face {
    font-family: 'OpenDyslexicMono';
    src: url('../../assets/font/OpenDyslexicMono-Regular.eot');
    src: url('../../assets/font/OpenDyslexicMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../assets/font/OpenDyslexicMono-Regular.woff2') format('woff2'),
         url('../../assets/font/OpenDyslexicMono-Regular.woff') format('woff'),
         url('../../assets/font/OpenDyslexicMono-Regular.ttf')  format('truetype'),
         url('../../assets/font/OpenDyslexicMono-Regular.svg#OpenDyslexicMono') format('svg');
}

.hide{
    display: none;
}

.show {
    display:block;
    width: 100%
}

.qdbp {
    /* border: 1px solid lightgray; */
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    width: 200px;
    padding: 5px;
    font-size: 16pt;
    cursor: pointer;
    z-index: 5;
    border-radius: 10%;
    /* background: #222222; */
}

.selected{
    color: lightslategray;
}

.noselected {
    color: black;
}

.qp {
    margin: auto;
    padding: 2vh 2vw;
    width: 35%;
    border-radius: 30px;
    z-index: 4;
    display: flex;
    flex-direction:column;
    position:absolute;
    right: 0;
    left: 0;
    align-items: center;
    background-color: aliceblue;
    
    /* z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.05s; */
}

.qpShade {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 500px;
    height: 500px;
    z-index:3;
}

.background {
    position: fixed;
    z-index: 3;
    top: 44px;
    left: 44px;
    aspect-ratio: 1 / 1;
    translate: -50% -50%;
    height: 88px;
    background: rgb(0 0 0 / 0%);
    border-radius: 50%;
    transition: 0.6s;
  }
  
  .show .background {
    height: 300vmax;
    background: rgb(0 0 0 / 80%);
  }

.qpTitle {
    font-size: 32px;
    font-weight: bold;
}

.qpSubtitle {
    margin-top: 10px;
    font-size: 28px;
}

.qpChild {
    /* border-bottom: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.qpChild h4 {
    margin: 5px;
}

.qpBtn {
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin-right: 5px;
    font-size: 24px;
}

.audioControl {
    margin: 10px 0;
}

.accs {
    margin: 0;
}

.colorSelected {
    color: white;
    background-color: black;
}

.unavailable {
    text-decoration:line-through;
}

.aIcon {
    width: 35px;
    margin-right: 5px;
}