.audio-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.audio-title-and-speech {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 20px;
}

.audio-card-title {
    font-size: 30pt;
    margin: 0;
}

.audio-card-content {
    font-size: 24pt;
}

/* Sound Audio Slides */
.audioPlayer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.audioPlayer img {
  margin-right: 10px;
  padding-right: 10px;
  width: 25%;
}