.facts {
  text-decoration: none;
  list-style: none;
  margin-bottom: 20px;
}

.facts-title-label {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.facts-label {
  font-style: italic;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.facts-value {
  font-style: italic;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}