/* Credit goes to Frontend-Joe */
.shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.burger-menu-icon {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 88px;
  height: 88px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-background {
  position: fixed;
  z-index: 2;
  top: 44px;
  left: 44px;
  aspect-ratio: 1 / 1;
  translate: -50% -50%;
  height: 88px;
  background: rgb(0 0 0 / 0%);
  border-radius: 50%;
  transition: 0.6s;
}

.menu-enabled .menu-background {
  height: 300vmax;
  background: rgb(0 0 0 / 80%);
}

.station-menu {
  z-index: 3;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.05s;
}

.menu-enabled .station-menu {
  opacity: 1;
  visibility: visible;
}

.station-menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 32px;
  padding: 20px 0 20px 20px;
  text-decoration: none;
  opacity: 0;
  cursor: pointer;
  transition: 0.4s;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }
  100% {
    opacity: 1;
  }
}

/* Burger Menu Button */
.menu-enabled .station-menu a {
  opacity: 1;
  animation: appear 0.25s backwards;
}

.line {
  stroke: black;
  stroke-linecap: round;
  stroke-width: 10;
  transition: all 0.3s ease;
}

.menu-button-on .line {
  stroke: orangered;
}

.menu-button-on .line.one {
  transform-origin: 50% 25%;
  transform: translateY(25px) rotate(-45deg);
}

.menu-button-on .line.two {
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}

.menu-button-on .line.three {
  transform-origin: 50% 75%;
  transform: translateY(-25px) rotate(45deg);
}
