.facts {
  text-decoration: none;
  list-style: none;
  margin-bottom: 20px;
}

.facts-label {
  font-style: italic;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.facts-value {
  font-style: italic;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.content-label {
  margin: 0.25em 0.5em 0.25em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}