.content-video {
  width: auto;
  max-width: 30vw;
  max-height: 75vh;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.video-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
