.swiperMain {
  z-index: auto;
}



.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 30px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
  }

  .swipe-directions{
    margin: 0;
  }

  .fg {
    display:flex;
    flex-direction: column;
  }
  .bg {
    /* background: coral; */
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    /* overflow: scroll; */
  }
  
  .bg3 {
    background: lightgray;
    width: 100%;
    height: 100%;
  }

  .left, .right {
    width:49.5%;
    height: 100vh;
    overflow: scroll;
  }

  .left {
    font-size: 36pt;
    text-align: left;
    padding-right: 25px;
  }

  .left span,
  .right span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .left h3,
  .right h3 {
    margin: .25em 0.5em .25em 0;
  }

  .right{
    flex-direction:column-reverse;
    text-align: left;
    font-size: 36pt;
  }

  .info {
    text-decoration: none;
    list-style: none;
  }

  .swipe-mention {
    color: gray;
    margin: 0;
  }

  .description {
    overflow:scroll;
    height: 800px;
    margin: 0;
  }

  .description p {
    margin: 0;
  }