.swiperMain {
  z-index: auto;
}

.placeholder {
  width: 50%;
  height: 100%;
  background:white;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 30px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
  }

  .swipe-directions{
    margin: 0;
  }

  .fg {
    display:flex;
    flex-direction: column;
  }
  .bg {
    /* background: coral; */
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    /* overflow: scroll; */
  }
  
  .bg3 {
    background: lightgray;
    width: 100%;
    height: 100%;
  }

  .left, .right {
    width:49.5%;
    height: 70%;
    overflow: scroll;
  }

  .left {
    font-size: 36pt;
    text-align: left;
    padding-right: 25px;
  }

  .left span,
  .right span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .left h3,
  .right h3 {
    margin: .25em 0.5em .25em 0;
  }

  .right{
    flex-direction:column-reverse;
    text-align: left;
    font-size: 36pt;
  }

  .info {
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
  }

  .swipe-mention {
    color: gray;
    margin: 0;
  }

  .description {
    overflow:scroll;
    height: 700px;
    margin: 0;
  }

  .description p {
    margin: 0;
  }

  .watchHeader {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .watchPara {
    margin: 0;
  }

  .audioSlides {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50vw;
  }

  .audioLeft {
    width: 50%;
    height: 100%;
    background: gray;
    display: flex;
  }
  .audioRight {
    padding: 20px;
    width: 50%;
    height: 100%;
    background: beige;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .audioRight h3{
    margin: 0;
  }

  .audioRight h5 {
    margin: 0;
  }

  .audioRight p {
    font-size: 16pt;
    margin: 0 0 20px 0;
  }

  /* Sound Audio Slides */
  .audioPlayer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .audioPlayer img {
    margin-right: 10px;
    padding-right: 10px;
    width: 25%;
  }

  /* Image Displayer */
  
  /* EMW */
  .emTitle {
    margin: 0;
  }

  .emFB {
    display: flex;
    padding: 0 100px;
  }