.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 30px;
    /* background: #fff; */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bg {
    /* background: coral; */
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: row;
    /* overflow: scroll; */
  }
  
  .bg3 {
    background: lightgray;
    width: 100%;
    height: 100%;
  }

  .left, .right {
    width:49.5%;
    height: 600px;
  }

  .left {
    font-size: 24pt;
    text-align: left;
    line-height: 40pt;
  }
  .right{
    flex-direction:column-reverse;
    text-align: left;
    font-size: 24pt;
  }

  .info {
    text-decoration: none;
    list-style: none;
  }

  .swipe-mention {
    color: lightgray;
    margin: 0;
  }

  .description {
    overflow:scroll;
    height: 500px;
  }

  .text {
    overflow: scroll;
    font-family: 'opendyslexicmonoregular';
  }