:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* * {
  box-sizing: border-box;
  border: 1px solid black;
} */

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* NEM styling */
body {
  background-image: url('./assets/img/bg-opacity.png');
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
}

.title {
  padding: 5px 25px;
  border: 5px solid #5B0B0B;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}



/* Images */

.marconiImg {
  width: 700px;
  height: 700px;
}

.homeImg {
  width: 25rem;
  height: 25rem;
}

.hidden {
  display: none;
}

.showMenu {
  display: block;
  position: absolute;
  left:auto
}

/* Slide */
.display {
  display: flex;
  flex-direction: row;
}

.description {
  font-size: 36pt;
}
.description .speechToggle{
  font-size: 24pt;
}

.homeLink {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.btnNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionhead {
  /* border:1px solid black; */
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: row;
  z-index: 7;
}

.sectionleft, 
.sectionright {
  width: 49%;
}

.sectionright {
  flex-direction: row-reverse;
  text-align: right;
}

@media screen and (max-width: 1700px){

  .homeImg {
    height: 25rem;
    width: 18rem;
  }
}

@media screen and (max-width: 1280px) {
  .homeImg {
    height: 15rem;
    width: 15rem;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 2em;
  }
  .homeImg {
    height: 15rem;
    width: 15rem;
  }
}

@media screen and (max-width: 960px) {
  .homeImg {
    height: 14rem;
    width: 14rem;
  }
}

@media screen and (max-width: 768px) {
  .homeImg {
    height: 14rem;
    width: 14rem;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 1.2em;
    padding:0;
  }

  .homeImg {
    height: 14rem;
    width: 14rem;
  }
}
