:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* * {
  box-sizing: border-box;
  border: 1px solid black;
} */

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

/* NEM styling */
body {
  background-image: url('./assets/img/bg-opacity.webp');
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
}

.title {
  padding: 5px 25px;
  border: 5px solid #5B0B0B;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}



/* Images */

.marconiImg {
  width: 700px;
  height: 700px;
}

.homeImg {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

.hidden {
  display: none;
}

.showMenu {
  display: block;
  position: absolute;
  left:auto
}

/* Image Gallery */
.galleryImageOne {
    margin: auto;
    padding: 1vh 1vw;
    width: 50%;
    border-radius: 10px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    align-items: center;
    background-color: aliceblue;
}

.hideImage {
  display: none;
}

.showImageOne {
  display:block;
  width: 100%;
}
.showImageTwo {
  display:block;
  width: 100%;
}
.showImageThree {
  display:block;
  width: 100%;
}
.showImageFour {
  display:block;
  width: 100%;
}
.showImageFive {
  display:block;
  width: 100%;
}

.backgroundImage { 
  position: fixed;
  z-index: 3;
  top: 44px;
  left: 44px;
  aspect-ratio: 1 / 1;
  translate: -50% -50%;
  height: 88px;
  background: rgb(0 0 0 / 0%);
  border-radius: 50%;
  transition: 0.6s;
}

.hamBox {
  display: flex;
  flex-direction: row;
  z-index: 4;
  max-width: 1280px; 
  max-height: 860px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%) translateY(-50%);
  background-color: aliceblue;
  padding: 20px;
  border-radius: 25px;
}

.hamTitles h2 {
  font-size: 24pt;
  color: black;
}

.hamTitles button {
  border: 5px solid black;
  border-radius: 50px;
  padding: 0px 30px 0px 30px;
  margin: 20px 20px 20px 20px;
  filter: drop-shadow(0 0 0.75rem gray);
  background: rgba(255, 255, 255, 0.3);
}

/* From Uiverse.io by Voxybuns */ 
.hamTitles button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.hamTitles button {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.hamTitles button:hover {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.hamTitles button:active {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}


.infoLeft {
  width: 50%;
}
.infoLeft p {
  font-size: 35px;
  margin: 0px;
}

.infoRight {
  width: 50%;
}

.hamImg {
  object-fit: contain;
  width: 100%;
}

.showImageOne .backgroundImage {
  height: 300vmax;
  background: rgb(0 0 0 / 80%);
}
.showImageTwo .backgroundImage {
  height: 300vmax;
  background: rgb(0 0 0 / 80%);
}
.showImageThree .backgroundImage {
  height: 300vmax;
  background: rgb(0 0 0 / 80%);
}
.showImageFour .backgroundImage {
  height: 300vmax;
  background: rgb(0 0 0 / 80%);
}
.showImageFive .backgroundImage {
  height: 300vmax;
  background: rgb(0 0 0 / 80%);
}

/* In Progress */


/* Slide */
.display {
  display: flex;
  flex-direction: row;
}

.description {
  font-size: 36pt;
}
.description .speechToggle{
  font-size: 24pt;
}

.homeLink {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.btnNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionhead {
  /* border:1px solid black; */
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: row;
  z-index: 7;
}

.sectionleft, 
.sectionright {
  width: 49%;
}

.sectionright {
  flex-direction: row-reverse;
  text-align: right;
}

/* speech styling */
.accs {
  display:flex;
  flex-direction: row-reverse;
}

.speechPlayer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 8vh;
  width: 100%;
  /* border: solid black 1px; */
}

.speechToggle {
  display:flex;
  align-items: center;
  width: 10vw;
}

.speechBtn {
  display: flex;
  width: 50%;
  height: 8vh;
  border: 1px black solid;
}

label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

.speechPlayer span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  cursor: pointer;
  background: #2c3e50;
  border-radius: 30px;
}

.speechPlayer span:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + span {
  background-color: #a70e20;
}

input:checked + span:before {
  transform: translateX(29px);
}

.hiddenPlayer {
  display: none;
}

.present {
  display: flex;
}

.linkPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}

.stationPages {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

a {
  text-decoration-line: none;
}

.inProgressTitle {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* HAM Radio styling */


/* @media stuff */

@media screen and (max-width: 1700px){

  .homeImg {
    height: 25rem;
    width: 18rem;
  }
}

@media screen and (max-width: 1280px) {
  .homeImg {
    height: 15rem;
    width: 15rem;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 2em;
  }
  .homeImg {
    height: 15rem;
    width: 15rem;
  }
}

@media screen and (max-width: 960px) {
  .homeImg {
    height: 14rem;
    width: 14rem;
  }
}

@media screen and (max-width: 768px) {
  .homeImg {
    height: 14rem;
    width: 14rem;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 1.2em;
    padding:0;
  }

  .homeImg {
    height: 14rem;
    width: 14rem;
  }
}
